.buttonDiv button{
    width: 100%;
    height: 30px;
    border-radius: 50px 50px;
    border: 1px solid black;
    font-size: 15px;
    
}
.price{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    
}
.buttonDiv button:hover{
    cursor:pointer;
    background-color: black;
    color: whitesmoke;
    transition: ease-in 200ms;
}